.SmallCard{
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    display:flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 60px;
    background-color: #252B43;
    text-align:left;
    font-family: 'DM Mono', monospace;
}



.SmallCard .Content{
    flex-grow:1;

    justify-content: center;
    background-color: #252B43;
    color: #8D95C3;
    padding-left: 15px;
}

.SmallCard .Numbers{
    font-size: 30px;
    text-align:left;
    color: white;
}


.SmallCard .Icone{
    height: 20px;
    width: 20px;
    padding-bottom: 2px;
    text-align:right;


}