body{
  background-color: #20222F;
  color:white;
  padding: 40px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
